.head{
  display: flex;
  justify-content:flex-end;
  background-color: rgba(8, 92, 95, 0.733);
  

}
h1 {
  margin: 0 !important;
}
.bdy{
  background-color: rgb(172, 219, 231);
  
}
.mybtn{
  border-radius: 50%;
}
.main{
  height: 80px;
  width: 1500px;
}
